
<%= simple_form_for(department, url: business_department_path(current_business), method: :post, wrapper: :horizontal_form) do |form| %>
  <%= form.input :name, disabled: show_action?  %>
  <div class="form-group row mb-0">
    <div class="mx-auto">
      <br>
      <% if !show_action? %>
        <%= form.button :submit, class: "btn-primary" %>
      <% end %>
      <%= link_to 'Cancel', business_departments_path(current_business), class: 'btn btn-outline-secondary' %>
    </div>
  </div>
<% end %>
